.App {
  margin-top: 15px;
}

.App .navbar-brand {
  font-weight: bold;
}

body {
  background: url('./images/wavebackground975.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
